In [1]:
import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [22]:
# Read the training and test data sets, change paths if needed
train_df = pd.read_csv('../data/alice/train_sessions.csv',
                       index_col='session_id')
test_df = pd.read_csv('../data/alice/test_sessions.csv',
                      index_col='session_id')

# Convert time1, ..., time10 columns to datetime type
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

# Sort the data by time
train_df = train_df.sort_values(by='time1')

# Look at the first rows of the training set
test_df.head(100)

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,29,2014-10-04 11:19:53,35.0,2014-10-04 11:19:53,22.0,2014-10-04 11:19:54,321.0,2014-10-04 11:19:54,23.0,2014-10-04 11:19:54,2211.0,2014-10-04 11:19:54,6730.0,2014-10-04 11:19:54,21.0,2014-10-04 11:19:54,44582.0,2014-10-04 11:20:00,15336.0,2014-10-04 11:20:00
2,782,2014-07-03 11:00:28,782.0,2014-07-03 11:00:53,782.0,2014-07-03 11:00:58,782.0,2014-07-03 11:01:06,782.0,2014-07-03 11:01:09,782.0,2014-07-03 11:01:10,782.0,2014-07-03 11:01:23,782.0,2014-07-03 11:01:29,782.0,2014-07-03 11:01:30,782.0,2014-07-03 11:01:53
3,55,2014-12-05 15:55:12,55.0,2014-12-05 15:55:13,55.0,2014-12-05 15:55:14,55.0,2014-12-05 15:56:15,55.0,2014-12-05 15:56:16,55.0,2014-12-05 15:56:17,55.0,2014-12-05 15:56:18,55.0,2014-12-05 15:56:19,1445.0,2014-12-05 15:56:33,1445.0,2014-12-05 15:56:36
4,1023,2014-11-04 10:03:19,1022.0,2014-11-04 10:03:19,50.0,2014-11-04 10:03:20,222.0,2014-11-04 10:03:21,202.0,2014-11-04 10:03:21,3374.0,2014-11-04 10:03:22,50.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:23,3374.0,2014-11-04 10:03:23
5,301,2014-05-16 15:05:31,301.0,2014-05-16 15:05:32,301.0,2014-05-16 15:05:33,66.0,2014-05-16 15:05:39,67.0,2014-05-16 15:05:40,69.0,2014-05-16 15:05:40,70.0,2014-05-16 15:05:40,68.0,2014-05-16 15:05:40,71.0,2014-05-16 15:05:40,167.0,2014-05-16 15:05:44
6,1218,2014-12-05 11:21:52,1220.0,2014-12-05 11:21:52,1202.0,2014-12-05 11:21:52,1221.0,2014-12-05 11:21:52,1222.0,2014-12-05 11:21:52,302.0,2014-12-05 11:21:52,1217.0,2014-12-05 11:21:53,1216.0,2014-12-05 11:21:53,1221.0,2014-12-05 11:21:53,1220.0,2014-12-05 11:21:53
7,43986,2014-05-21 14:10:43,43986.0,2014-05-21 14:10:44,43986.0,2014-05-21 14:10:45,43986.0,2014-05-21 14:10:46,43986.0,2014-05-21 14:11:01,43986.0,2014-05-21 14:11:04,43986.0,2014-05-21 14:11:05,43986.0,2014-05-21 14:11:06,43986.0,2014-05-21 14:11:07,43986.0,2014-05-21 14:11:08
8,3346,2014-05-25 18:32:04,3346.0,2014-05-25 18:33:59,23.0,2014-05-25 18:34:03,3346.0,2014-05-25 18:34:03,3359.0,2014-05-25 18:34:03,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
9,1062,2014-06-05 10:25:52,21.0,2014-06-05 10:25:52,23.0,2014-06-05 10:25:52,22.0,2014-06-05 10:25:52,11009.0,2014-06-05 10:25:53,8220.0,2014-06-05 10:25:53,1063.0,2014-06-05 10:25:53,21.0,2014-06-05 10:25:53,2896.0,2014-06-05 10:25:54,292.0,2014-06-05 10:25:54
10,77,2014-05-02 11:48:47,77.0,2014-05-02 11:48:48,75.0,2014-05-02 11:48:48,876.0,2014-05-02 11:48:49,80.0,2014-05-02 11:48:49,76.0,2014-05-02 11:48:49,23.0,2014-05-02 11:48:51,76.0,2014-05-02 11:48:51,75.0,2014-05-02 11:48:51,77.0,2014-05-02 11:48:51
11,301,2014-12-05 12:11:34,301.0,2014-12-05 12:11:35,66.0,2014-12-05 12:11:37,67.0,2014-12-05 12:11:38,70.0,2014-12-05 12:11:38,69.0,2014-12-05 12:11:38,71.0,2014-12-05 12:11:38,68.0,2014-12-05 12:11:38,302.0,2014-12-05 12:11:41,302.0,2014-12-05 12:11:42
12,625,2014-12-02 08:16:47,322.0,2014-12-02 08:16:51,148.0,2014-12-02 08:16:54,148.0,2014-12-02 08:16:55,747.0,2014-12-02 08:16:56,23.0,2014-12-02 08:16:58,513.0,2014-12-02 08:17:00,749.0,2014-12-02 08:17:00,23.0,2014-12-02 08:17:01,152.0,2014-12-02 08:17:03
13,20,2014-10-02 11:38:04,21.0,2014-10-02 11:38:04,21.0,2014-10-02 11:38:17,22.0,2014-10-02 11:38:18,23.0,2014-10-02 11:38:21,1022.0,2014-10-02 11:38:27,1023.0,2014-10-02 11:38:29,1023.0,2014-10-02 11:38:31,1025.0,2014-10-02 11:38:32,961.0,2014-10-02 11:38:46
14,263,2014-08-04 10:02:04,21.0,2014-08-04 10:02:04,263.0,2014-08-04 10:02:05,263.0,2014-08-04 10:02:06,265.0,2014-08-04 10:02:07,265.0,2014-08-04 10:02:24,265.0,2014-08-04 10:02:32,265.0,2014-08-04 10:02:41,265.0,2014-08-04 10:03:02,265.0,2014-08-04 10:03:18
15,722,2014-12-02 15:15:32,722.0,2014-12-02 15:15:43,722.0,2014-12-02 15:15:44,1589.0,2014-12-02 15:15:57,1589.0,2014-12-02 15:15:58,722.0,2014-12-02 15:15:58,287.0,2014-12-02 15:15:58,722.0,2014-12-02 15:16:01,1589.0,2014-12-02 15:16:13,722.0,2014-12-02 15:16:13
16,22889,2014-05-27 11:56:15,29.0,2014-05-27 11:56:15,147.0,2014-05-27 11:56:16,22889.0,2014-05-27 11:56:16,148.0,2014-05-27 11:56:16,29.0,2014-05-27 11:56:17,22889.0,2014-05-27 11:56:17,256.0,2014-05-27 11:56:19,22889.0,2014-05-27 11:56:19,256.0,2014-05-27 11:56:20
17,23,2014-05-03 16:36:18,21.0,2014-05-03 16:36:43,22.0,2014-05-03 16:36:43,23.0,2014-05-03 16:36:43,21.0,2014-05-03 16:38:52,21.0,2014-05-03 16:48:50,21.0,2014-05-03 16:49:15,35.0,2014-05-03 16:49:16,32319.0,2014-05-03 16:49:19,35.0,2014-05-03 16:49:19
18,23,2014-11-04 10:35:53,749.0,2014-11-04 10:35:53,747.0,2014-11-04 10:35:56,23.0,2014-11-04 10:35:56,753.0,2014-11-04 10:35:59,321.0,2014-11-04 10:35:59,220.0,2014-11-04 10:35:59,52.0,2014-11-04 10:35:59,48.0,2014-11-04 10:36:00,157.0,2014-11-04 10:36:00
19,52,2014-11-02 12:15:18,1981.0,2014-11-02 12:15:27,3379.0,2014-11-02 12:16:41,1980.0,2014-11-02 12:16:43,9946.0,2014-11-02 12:16:43,21.0,2014-11-02 12:16:45,57.0,2014-11-02 12:16:45,23.0,2014-11-02 12:16:47,5238.0,2014-11-02 12:16:47,5238.0,2014-11-02 12:16:48
20,780,2014-08-04 08:27:47,778.0,2014-08-04 08:27:49,778.0,2014-08-04 08:27:50,782.0,2014-08-04 08:28:04,778.0,2014-08-04 08:28:06,780.0,2014-08-04 08:28:09,778.0,2014-08-04 08:28:11,782.0,2014-08-04 08:28:34,782.0,2014-08-04 08:29:04,782.0,2014-08-04 08:29:34
21,21,2014-05-03 12:20:28,35.0,2014-05-03 12:20:30,29.0,2014-05-03 12:20:30,29.0,2014-05-03 12:20:35,35.0,2014-05-03 12:20:35,37.0,2014-05-03 12:20:38,29.0,2014-05-03 12:20:42,35.0,2014-05-03 12:20:42,35.0,2014-05-03 12:20:47,37.0,2014-05-03 12:20:48
22,23,2014-05-03 23:29:36,570.0,2014-05-03 23:33:38,570.0,2014-05-03 23:43:39,570.0,2014-05-03 23:53:39,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
23,568,2014-05-19 14:05:32,747.0,2014-05-19 14:05:32,23.0,2014-05-19 14:05:32,513.0,2014-05-19 14:05:32,749.0,2014-05-19 14:05:32,23.0,2014-05-19 14:05:37,222.0,2014-05-19 14:07:21,52.0,2014-05-19 14:07:21,47366.0,2014-05-19 14:07:37,23.0,2014-05-19 14:08:23
24,22,2014-07-01 21:06:17,1453.0,2014-07-01 21:06:27,22.0,2014-07-01 21:06:28,774.0,2014-07-01 21:06:29,1451.0,2014-07-01 21:06:29,1453.0,2014-07-01 21:06:31,616.0,2014-07-01 21:06:33,1453.0,2014-07-01 21:06:33,1528.0,2014-07-01 21:06:43,1529.0,2014-07-01 21:06:45
25,76,2014-05-04 15:04:24,1057.0,2014-05-04 15:04:24,1057.0,2014-05-04 15:04:25,881.0,2014-05-04 15:04:25,77.0,2014-05-04 15:04:25,1307.0,2014-05-04 15:04:25,80.0,2014-05-04 15:04:26,78.0,2014-05-04 15:04:26,1057.0,2014-05-04 15:04:26,77.0,2014-05-04 15:04:26
26,2891,2014-05-28 16:19:11,48.0,2014-05-28 16:19:15,1984.0,2014-05-28 16:19:15,3379.0,2014-05-28 16:19:16,48.0,2014-05-28 16:19:16,961.0,2014-05-28 16:19:17,50.0,2014-05-28 16:19:18,48.0,2014-05-28 16:19:19,1980.0,2014-05-28 16:19:19,48.0,2014-05-28 16:19:29
27,30151,2014-12-02 10:55:08,30151.0,2014-12-02 10:55:09,30150.0,2014-12-02 10:55:17,13123.0,2014-12-02 10:55:17,7069.0,2014-12-02 10:55:17,29.0,2014-12-02 10:55:17,33.0,2014-12-02 10:55:19,13123.0,2014-12-02 10:55:19,30.0,2014-12-02 10:55:19,32.0,2014-12-02 10:55:19
28,803,2014-05-03 09:27:13,803.0,2014-05-03 09:27:15,803.0,2014-05-03 09:27:18,803.0,2014-05-03 09:27:37,803.0,2014-05-03 09:27:38,803.0,2014-05-03 09:27:40,803.0,2014-05-03 09:27:41,803.0,2014-05-03 09:27:43,616.0,2014-05-03 09:27:45,803.0,2014-05-03 09:28:21
29,21,2014-10-02 15:10:27,21.0,2014-10-02 15:10:39,21.0,2014-10-02 15:10:42,29.0,2014-10-02 15:11:02,30.0,2014-10-02 15:11:02,38.0,2014-10-02 15:11:02,21.0,2014-10-02 15:11:02,42570.0,2014-10-02 15:11:02,22.0,2014-10-02 15:11:02,42570.0,2014-10-02 15:11:03
30,1202,2014-12-05 18:13:49,1202.0,2014-12-05 18:14:00,1202.0,2014-12-05 18:14:02,1202.0,2014-12-05 18:14:04,1202.0,2014-12-05 18:14:06,1202.0,2014-12-05 18:14:07,1202.0,2014-12-05 18:14:09,1202.0,2014-12-05 18:14:11,1202.0,2014-12-05 18:14:13,1202.0,2014-12-05 18:14:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1202,2014-05-19 16:29:58,1202.0,2014-05-19 16:30:24,1202.0,2014-05-19 16:30:30,1202.0,2014-05-19 16:30:31,1202.0,2014-05-19 16:30:48,1202.0,2014-05-19 16:30:49,1202.0,2014-05-19 16:30:57,1202.0,2014-05-19 16:30:58,52.0,2014-05-19 16:34:53,52.0,2014-05-19 16:34:54
72,786,2014-08-04 15:42:14,786.0,2014-08-04 15:42:17,786.0,2014-08-04 15:42:19,786.0,2014-08-04 15:42:21,786.0,2014-08-04 15:42:24,786.0,2014-08-04 15:42:26,786.0,2014-08-04 15:42:29,786.0,2014-08-04 15:42:31,786.0,2014-08-04 15:42:33,786.0,2014-08-04 15:42:36
73,29,2014-08-04 22:43:16,1948.0,2014-08-04 22:43:17,1937.0,2014-08-04 22:43:17,29.0,2014-08-04 22:43:51,29.0,2014-08-04 22:44:00,75.0,2014-08-04 22:44:00,75.0,2014-08-04 22:44:01,77.0,2014-08-04 22:44:01,76.0,2014-08-04 22:44:01,76.0,2014-08-04 22:44:02
74,782,2014-07-03 15:15:29,782.0,2014-07-03 15:15:30,782.0,2014-07-03 15:15:59,782.0,2014-07-03 15:16:00,782.0,2014-07-03 15:16:29,782.0,2014-07-03 15:16:30,782.0,2014-07-03 15:16:59,782.0,2014-07-03 15:17:00,782.0,2014-07-03 15:17:29,782.0,2014-07-03 15:17:30
75,66,2014-07-03 14:12:30,939.0,2014-07-03 14:12:31,939.0,2014-07-03 14:12:32,2012.0,2014-07-03 14:13:23,167.0,2014-07-03 14:13:24,167.0,2014-07-03 14:13:25,3.0,2014-07-03 14:13:26,359.0,2014-07-03 14:13:26,204.0,2014-07-03 14:13:26,167.0,2014-07-03 14:13:26
76,5828,2014-07-02 15:09:38,5828.0,2014-07-02 15:09:39,5828.0,2014-07-02 15:09:40,21.0,2014-07-02 15:09:44,23.0,2014-07-02 15:09:44,41.0,2014-07-02 15:10:30,21.0,2014-07-02 15:10:30,23.0,2014-07-02 15:10:30,707.0,2014-07-02 15:10:30,27.0,2014-07-02 15:10:30
77,300,2014-05-13 15:47:50,300.0,2014-05-13 15:51:12,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
78,26019,2014-05-14 16:38:59,23.0,2014-05-14 16:39:00,6231.0,2014-05-14 16:39:00,26019.0,2014-05-14 16:39:00,21.0,2014-05-14 16:39:01,23.0,2014-05-14 16:39:01,6231.0,2014-05-14 16:39:01,26019.0,2014-05-14 16:39:18,21.0,2014-05-14 16:39:19,23.0,2014-05-14 16:39:19
79,52,2014-11-02 14:01:44,34.0,2014-11-02 14:01:44,31.0,2014-11-02 14:01:44,27.0,2014-11-02 14:01:44,26.0,2014-11-02 14:01:44,29.0,2014-11-02 14:01:45,31.0,2014-11-02 14:01:45,26.0,2014-11-02 14:01:45,32.0,2014-11-02 14:01:45,27.0,2014-11-02 14:01:45
80,167,2014-10-02 08:04:42,167.0,2014-10-02 08:04:43,167.0,2014-10-02 08:04:44,359.0,2014-10-02 08:04:44,167.0,2014-10-02 08:04:45,3.0,2014-10-02 08:05:07,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
81,597,2014-05-03 08:55:51,598.0,2014-05-03 08:55:51,1588.0,2014-05-03 08:55:53,1586.0,2014-05-03 08:55:55,677.0,2014-05-03 08:55:55,1587.0,2014-05-03 08:55:55,598.0,2014-05-03 08:55:55,1587.0,2014-05-03 08:56:00,1587.0,2014-05-03 08:56:03,616.0,2014-05-03 08:56:18
82,55,2014-12-04 20:52:33,56.0,2014-12-04 20:52:33,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
83,2428,2014-07-04 10:10:02,29.0,2014-07-04 10:10:13,2428.0,2014-07-04 10:10:14,2428.0,2014-07-04 10:10:26,2428.0,2014-07-04 10:10:38,2428.0,2014-07-04 10:10:50,2428.0,2014-07-04 10:11:02,2428.0,2014-07-04 10:11:14,2428.0,2014-07-04 10:11:26,2428.0,2014-07-04 10:11:38
84,37,2014-12-05 16:04:50,37.0,2014-12-05 16:04:53,35.0,2014-12-05 16:04:56,704.0,2014-12-05 16:04:57,29.0,2014-12-05 16:05:04,99.0,2014-12-05 16:05:19,106.0,2014-12-05 16:05:19,99.0,2014-12-05 16:05:20,106.0,2014-12-05 16:05:20,99.0,2014-12-05 16:05:21
85,1445,2014-12-05 13:42:29,49.0,2014-12-05 13:42:56,1445.0,2014-12-05 13:42:57,56.0,2014-12-05 13:43:31,55.0,2014-12-05 13:43:31,22.0,2014-12-05 13:43:47,23.0,2014-12-05 13:43:48,21.0,2014-12-05 13:43:49,1445.0,2014-12-05 13:44:05,1445.0,2014-12-05 13:44:09
86,782,2014-08-04 09:51:35,786.0,2014-08-04 09:51:38,786.0,2014-08-04 09:51:39,786.0,2014-08-04 09:51:51,786.0,2014-08-04 09:51:58,786.0,2014-08-04 09:52:03,786.0,2014-08-04 09:52:04,782.0,2014-08-04 09:52:05,782.0,2014-08-04 09:52:35,782.0,2014-08-04 09:53:05
87,47359,2014-05-14 16:24:38,23.0,2014-05-14 16:24:38,47359.0,2014-05-14 16:24:39,47357.0,2014-05-14 16:24:47,47360.0,2014-05-14 16:24:49,26239.0,2014-05-14 16:24:56,26239.0,2014-05-14 16:24:57,21.0,2014-05-14 16:25:29,14279.0,2014-05-14 16:25:35,21.0,2014-05-14 16:26:40
88,812,2014-07-03 14:01:26,677.0,2014-07-03 14:01:27,774.0,2014-07-03 14:01:31,22.0,2014-07-03 14:01:37,774.0,2014-07-03 14:01:37,774.0,2014-07-03 14:01:43,774.0,2014-07-03 14:01:44,774.0,2014-07-03 14:01:52,774.0,2014-07-03 14:01:56,1039.0,2014-07-03 14:02:22
89,2891,2014-12-05 14:10:43,1445.0,2014-12-05 14:17:57,1445.0,2014-12-05 14:17:58,1445.0,2014-12-05 14:18:00,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
90,33,2014-05-02 13:27:44,35.0,2014-05-02 13:27:45,29.0,2014-05-02 13:27:45,143.0,2014-05-02 13:27:45,396.0,2014-05-02 13:27:46,143.0,2014-05-02 13:27:46,397.0,2014-05-02 13:27:46,29.0,2014-05-02 13:27:46,41749.0,2014-05-02 13:27:48,152.0,2014-05-02 13:27:48
91,218,2014-12-05 10:42:11,219.0,2014-12-05 10:42:11,323.0,2014-12-05 10:42:12,42347.0,2014-12-05 10:42:13,2612.0,2014-12-05 10:42:13,2612.0,2014-12-05 10:42:14,5070.0,2014-12-05 10:42:14,23.0,2014-12-05 10:42:14,217.0,2014-12-05 10:42:15,2612.0,2014-12-05 10:42:15
92,363,2014-08-01 11:36:33,167.0,2014-08-01 11:36:33,364.0,2014-08-01 11:36:33,362.0,2014-08-01 11:36:33,363.0,2014-08-01 11:36:34,167.0,2014-08-01 11:36:35,363.0,2014-08-01 11:36:36,167.0,2014-08-01 11:36:37,362.0,2014-08-01 11:36:38,363.0,2014-08-01 11:36:38
93,4183,2014-12-02 16:45:26,8.0,2014-12-02 16:45:26,3.0,2014-12-02 16:45:30,3.0,2014-12-02 16:45:35,8.0,2014-12-02 16:45:41,1919.0,2014-12-02 16:45:43,30.0,2014-12-02 16:46:04,3.0,2014-12-02 16:46:32,65.0,2014-12-02 16:46:32,268.0,2014-12-02 16:46:34
94,1155,2014-06-01 09:56:24,3794.0,2014-06-01 09:56:24,3796.0,2014-06-01 09:56:24,3794.0,2014-06-01 09:56:25,3797.0,2014-06-01 09:56:25,3796.0,2014-06-01 09:56:26,30.0,2014-06-01 09:56:27,29.0,2014-06-01 09:56:27,33.0,2014-06-01 09:56:27,22.0,2014-06-01 09:56:27
95,82,2014-05-04 20:09:54,82.0,2014-05-04 20:09:56,80.0,2014-05-04 20:10:00,82.0,2014-05-04 20:10:09,82.0,2014-05-04 20:10:12,80.0,2014-05-04 20:10:14,82.0,2014-05-04 20:10:24,82.0,2014-05-04 20:10:27,80.0,2014-05-04 20:10:30,80.0,2014-05-04 20:10:54
96,782,2014-07-03 11:32:09,782.0,2014-07-03 11:32:15,778.0,2014-07-03 11:32:28,778.0,2014-07-03 11:32:29,782.0,2014-07-03 11:32:39,782.0,2014-07-03 11:32:45,782.0,2014-07-03 11:33:09,782.0,2014-07-03 11:33:15,778.0,2014-07-03 11:33:35,782.0,2014-07-03 11:33:39
97,6933,2014-09-01 16:34:04,6933.0,2014-09-01 16:34:11,6933.0,2014-09-01 16:34:12,6933.0,2014-09-01 16:34:14,6933.0,2014-09-01 16:34:16,890.0,2014-09-01 16:34:16,6933.0,2014-09-01 16:34:17,896.0,2014-09-01 16:34:18,896.0,2014-09-01 16:34:19,1994.0,2014-09-01 16:34:19
98,39,2014-11-04 11:44:05,22.0,2014-11-04 11:44:05,56.0,2014-11-04 11:54:07,55.0,2014-11-04 11:54:07,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
99,305,2014-08-03 10:08:14,306.0,2014-08-03 10:08:14,306.0,2014-08-03 10:08:16,718.0,2014-08-03 10:10:43,306.0,2014-08-03 10:10:43,270.0,2014-08-03 10:10:43,720.0,2014-08-03 10:10:46,721.0,2014-08-03 10:10:48,717.0,2014-08-03 10:10:49,719.0,2014-08-03 10:10:49
100,301,2014-12-05 12:17:19,66.0,2014-12-05 12:17:36,67.0,2014-12-05 12:17:36,70.0,2014-12-05 12:17:36,69.0,2014-12-05 12:17:36,71.0,2014-12-05 12:17:36,68.0,2014-12-05 12:17:36,167.0,2014-12-05 12:17:40,270.0,2014-12-05 12:17:47,302.0,2014-12-05 12:17:48

In [7]:
# Change site1, ..., site10 columns type to integer and fill NA-values with zeros
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype(np.uint16)
test_df[sites] = test_df[sites].fillna(0).astype(np.uint16)

# Load websites dictionary
with open(r"../data/alice/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
print(u'Websites total:', sites_dict.shape[0])
sites_dict.head()

Websites total: 48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [10]:
print(train_df.shape)
print(test_df.shape)

(253561, 21)
(82797, 20)

In [18]:
# Top websites in the training data set
top_sites = pd.Series(train_df[sites].values.flatten()
                     ).value_counts().sort_values(ascending=False).head(10)
print(top_sites)
sites_dict.loc[top_sites.drop(0).index]

0       45420
21      37175
782     31755
778     25813
23      24243
1202    20413
29      19580
22      17655
167     15293
80      14261
dtype: int64

                              site
21                   www.google.fr
782                 annotathon.org
778           www.ncbi.nlm.nih.gov
23                  www.google.com
1202  claroline.univ-bpclermont.fr
29                www.facebook.com
22                 apis.google.com
167                   www.bing.com
80                   s.youtube.com

In [21]:

# Create a separate dataframe where we will work with timestamps
time_df = pd.DataFrame(index=train_df.index)
time_df['target'] = train_df['target']

# Find sessions' starting and ending
time_df['min'] = train_df[times].min(axis=1)
time_df['max'] = train_df[times].max(axis=1)

# Calculate sessions' duration in seconds
time_df['seconds'] = (time_df['max'] - time_df['min']) / np.timedelta64(1, 's')

time_df.head(100)

KeyError: 'target'